@import url('https://fonts.googleapis.com/css?family=Comfortaa|Philosopher&display=swap');

/* BODY */
main {
  max-width: 500px;
  text-align: center;
}

#top {
  margin-top: 1em;
}

#lang-select {
  margin-bottom: -.5em;
}

#british {
  margin-left: 1.5em;
}

#choose {
  text-shadow: 3px 3px 5px darkgrey;
}

#color-display {
  max-width: 400px;
  height: 100px;
  border: solid black 1px;
  margin: 1em auto 0;
  /* Linear Gradient set in JavaScript */
}

/* FOOTER */
.social-icon {
  width: 40px;
  height: 40px;
  padding-right: 0.5em;
}

/* FONTS */
h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.75em;
}

footer p {
  font-family: 'Comfortaa', sans-serif;
}

#copyright {
  margin-bottom: .5em;
}

#attribution {
  font-size: 0.8em;
  font-style: italic;
}